DATABASE_URL="host=localhost port=15432 user=postgres password=password dbname=devboard sslmode=disable"
SERVER_ADDRESS=":8080"
JWT_SECRET="secret"

# Token Expiration (saat cinsinden)
ACCESS_TOKEN_EXPIRE_HOURS=720
REFRESH_TOKEN_EXPIRE_HOURS=4320

# Cookie Ayarları
ACCESS_TOKEN_COOKIE_NAME="access_token"
REFRESH_TOKEN_COOKIE_NAME="refresh_token"
COOKIE_DOMAIN=""
COOKIE_SECURE=true
COOKIE_SAME_SITE="None"

# CORS
CORS_ALLOWED_ORIGINS="http://localhost,http://127.0.0.1"

# SMTP / E-posta
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_EMAIL=""
SMTP_PASSWORD=""

# Şifre Sıfırlama
PASSWORD_RESET_EXPIRE_MINUTES=60
PASSWORD_RESET_BASE_URL="https://yourapp.com/reset-password"